@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(110deg, #89ABE3FF 35%, #EA738DFF 55%);
    background-attachment: fixed;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input:focus{
    border: none;
    outline: none;
    background: transparent;
}

input::placeholder{
    font-family: 'Muli', sans-serif;
    font-size: medium;
    color: gray;
}

.inputBox{
    background: transparent;
    border: none;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 100px;
    padding: 10%;
    width: 300px;
}

.displayHead{
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.results{
    background-color: black;
    border-radius: 10px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
}

.resultHeading{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.resultSupportText{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #D2D2D2;
}


/*.heading{
    position: absolute;
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 53px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;

    text-align: center;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}

.inputBox{
    position: relative;
    border: 0;
	border-bottom: 2px solid #333;
	font-size: 18px;
	font-family: 'Muli', sans-serif;
	transition: 0.1s ease-in
}

.length{
    position: relative;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 297px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;
}

.convertLength{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 327px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #D2D2D2;
}

.volume{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 379px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;
}

.convertVolume{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 409px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #D2D2D2;
}

.mass{
    position: absolute;
    width: 346px;
    height: 25px;
    left: 102px;
    top: 461px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    

    text-align: center;

    color: #FFFFFF;

}

.convertMass{
    position: absolute;
    width: 346px;
    height: 21px;
    left: 102px;
    top: 491px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #D2D2D2;
}*/