@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(110deg, #89ABE3FF 35%, #EA738DFF 55%);
    background-attachment: fixed;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input:focus{
    border: none;
    outline: none;
    background: transparent;
}

input::placeholder{
    font-family: 'Muli', sans-serif;
    font-size: medium;
    color: gray;
}

.inputBox{
    background: transparent;
    border: none;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    font-size: 100px;
    padding: 10%;
    width: 300px;
}

.displayHead{
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.results{
    background-color: black;
    border-radius: 10px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
}

.resultHeading{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.resultSupportText{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #D2D2D2;
}
