@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body{

    position: relative;

    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(110deg, #89ABE3FF 35%, #EA738DFF 55%);
    background-attachment: fixed;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input:focus{
    border: none;
    outline: none;
    background: transparent;
}

input::placeholder{
    font-family: 'Muli', sans-serif;
    font-size: medium;
    color: rgba(0, 0, 0, 0.541);
}

.inputBox{
    background: transparent;
    border: none;
    text-align: center;
    font-family: 'Muli', sans-serif;
    color: #ffff;
    font-weight: 900;
    font-size: 100px;
    padding: 10%;
    width: 250px;
}

.displayHead{
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 10px;

    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.results{
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: black;
    border-radius: 10px;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resultHeading{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.resultSupportText{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #D2D2D2;
}
